<div class="footer-info">
    <img src='https://i.ibb.co/gTJTpzp/INVERTED-FIGHTING-FIT.jpg'> | EST. 2020
    </div>
  <div class="list-group">
    <a href="#"> <i class="fa fa-facebook-official fa-lg" aria-hidden="true" target="_blank"></i></a>
    <a href="#"> <i class="fa fa-twitter fa-lg" aria-hidden="true" target="_blank"></i></a>
    <a href="#"> <i class="fa fa-instagram fa-lg" aria-hidden="true" target="_blank"></i></a>
</div>
<div class="kellen">logo<br/>
  © <a href="https://www.linkedin.com/in/kellen-chumley-b1064b1a9/" target="_blank">Kellen Chumley</a><br/>ALL RIGHTS RESERVED</div>
