/* GENERAL */
body {
  font-family: 'Montserrat', sans-serif;
}
h1, h2 {
  font-family: 'Courgette', cursive;
}
h4 {
  text-align: center;
}

.fighter-physique h4 {
  text-align: center;
  border: 1px solid black;
}

.navbar {
  font-family: 'Courgette', cursive;
}

.navbar img {
  width: 100px;
  height: 100px;
}


/* INDEX PAGE */

.workout-types {
  margin: 3em 0;
  text-align: center;
}

table {
  margin-bottom: 3em;
}

.carousel-inner {
  margin: 2em 0;
}

/* SHOW PAGE */

.show-workout {
  background-color: whitesmoke;
  color: black;
  width: 60%;
  margin: 0 auto;
  padding: 1em 3em;
  box-sizing: border-box;
  border-radius: 1em;
  text-align: center;
}

.d-flex {
  background-color: black;
  color: white;
}

.action-btns {
  display: flex;
  justify-content: space-around;
}

.edit-btn, .delete-btn {
  width: 40%;
  height: 4em;
  border: 1px solid black;
  background-color: whitesmoke;
}

/* BEGINNERS PAGE */

/* FOOTER */

footer {
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  /* position: absolute;
  bottom: 0; */
}

footer img {
  width: 75px;
  height: 75px;
}

.footer-info, .icons, .kellen {
  width: 31%;
  text-align: center;
}


.kellen a {
  color: white;
}

.fa {
  color: white;
  text-decoration: none;
  padding: .5em;
}

/* FORMS */

.sidebar {
  background: url('https://i.ibb.co/VH2HvRC/paigevzkaratiehottie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: white;
}

.newlog {
  border: 1px solid black;
  border-radius: 10px;
}

legend {
  padding: 0px 10px;
  color: white;
}

label {
  display: block;
}

input {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

input[type="submit"] {
  width: 50%;
  height: 50px;
  border: 0px;
}
input[type="submit"]:hover {
  cursor: pointer;
}

button > a {
  color: black;
}

/* SHOP */

.products-img img {
  width: 300px;
  height: 300px;
}

.product-card {
  text-align: center;
}

/* FOOD */

/* .food-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.banner {
  background: url('https://i.ibb.co/NpQh9Hh/Healthy-lifestyle-concept-with-diet-and-fitness-on-wooden-boards.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  color: white;
}

.banner h4 {
  padding: 1em;
}

.food-btn, .reset-btn {
  border: 1px solid black;
  margin-right: 1em;
}

.reset-btn {
  width: 300px;
  height: 50px;
  background-color: black;
  color: white;
}

.food-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .card {
  width: 40%;
  margin: 1em 0;
  border: 1px solid black;
  border-radius: 5px;
}

main p {
  margin: 0;
  padding: 0;
}

main .card-body {
  padding: 0;
}

/* RESPONSIVE DESIGN MOSTLY BTNS */
/* @media only screen and (max-width: 500px) {
  .reset-btn {
    width: 300px;
    height: 50px;
    background-color: black;
    color: white;
  } */

  .add-btn, {
    background-color: white;
    color: black;
  }

  .buy-btn, .food-btn {
    background-color: black;
    color: white;
  }
/* } */
