<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- MAIN -->
    <form action="/products" method="POST">
    <fieldset class="new-info">
      <label for="name">NAME</label>
      <input type="text" name="name" id="name"/>
      <label for="img">IMAGE</label>
      <input type="text" name="img" id="img"/>
      <label for="description">DESCRIPTION</label>
      <input type="text" name="description" id="description"/>
      <label for="price">PRICE</label>
      <input type="text" name="price" id="price"/>
      <label for="qty">QUANTITY</label>
      <input type="text" name="qty" id="qty"/>
      <input type="submit" value="CREATE PRODUCT"/>
    </fieldset>
    </form>
    <nav>
    <a href="/products">Back to Store</a>
    </nav>

  </body>
</html>
