<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav><br />

    <div class="container">
      Fighters are some of the most elite athletes due to the variety of their workouts. New to working out and don't know where to start? Here are some ideas to get you started.

      <div class="card-deck">
        <div class="card">
          <img src="https://i.ibb.co/r3g062P/womanrunningsilhouette.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">ENDURANCE TRAINING</h5>
            <p class="card-text">Cardio is anything that elevates your heart rate above its resting level. This includes:
              <ul>
                <li>walking</li>
                <li>running</li>
                <li>cycling</li>
                <li>swimming</li>
                <li>dancing</li>
                <li>kickboxing</li>
                <li>jumping rope</li>
              </ul>
            The minimum recommended daily amount of cardio is ~20 mins/day, but just get moving!
            </p>
          </div>
        </div>
        <div class="card">
          <img src="https://i.ibb.co/hczLWmj/womanlifting.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">STRENGTH TRAINING</h5>
            <p class="card-text">Strength training uses your own bodyweight or tools to increase muscle mass, strength and endurance. Try these exercises to start:
              <ul>
                <li>squats</li>
                <li>deadlifts</li>
                <li>pushups</li>
                <li>bench press</li>
                <li>biceps curl</li>
                <li>dumbbell rows</li>
              </ul>
              Aim for 3 sets of 12-15 reps with light weights or body weight to begin.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="https://i.ibb.co/zVgWkWG/womanyoga.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">FLEXIBILITY TRAINING</h5>
            <p class="card-text">Flexibility training involves low-intensity exercises that increase the total range of motion of a joint or group of joints. It significantly reduces the risk of injury and boosts sports performance. Activities to try out are:
              <ul>
                <li>yoga</li>
                <li>pilates</li>
                <li>tai chi</li>
                <li>foam rolling</li>
              </ul>
              Scoffing at flexibility training? Have you SEEN my high kicks?
            </p>
          </div>
        </div>
      </div>
      Ready to rumble? Take a shot at this beginning routine. No equipment (except for a jump rope) necessary for all still in quarantine.<br/>
      <button type="button" class="btn btn-primary workout-button" style="background-color: black" data-toggle="modal" data-target="#staticBackdrop">
        🥊WORKOUT🥊
      </button>

      <!-- Scrollable modal -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">BOXING CONDITIONING WORKOUT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              warmup:
                <ul>
                  <li>10 minutes jump rope</li>
                  <li>20 air squats</li>
                  <li>20 pushups</li>
                  <li>20 crunches</li>
                </ul>
              shadow boxing:<br/>
                3-minute round of basic jab-cross-hook combos<br/>
                1-minute break<br/>
                x5<br/><br/>
              finisher:
                <ul>
                  <li>50 pushups</li>
                  <li>50 air squats</li>
                  <li>50 sit-ups</li>
                </ul>
              basic punching combinations:
                <ul>
                  <li>jab-cross</li>
                  <li>jab-cross-hook</li>
                  <li>jab-jab-cross</li>
                  <li>jab-hook-cross</li>
                  <li>hook-cross-hook</li>
                  <li>jab-cross-hook-cross</li>
                </ul>

            </div>
          </div>
        </div>
      </div>




  </div>


    <!-- FOOTER -->
    <footer class="page-footer">
    <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
